@charset "UTF-8";
/*|============================
  | Додавання & Віднімання
  |============================
*/
.box {
  width: 630px;
  width: 570px;
}

/*|============================
  | Множення & Ділення
  |============================
*/
.box {
  width: 3000px;
  width: 1250px;
  width: 1300px;
  width: 120px;
  width: 300px;
  width: 300px;
}

/*|============================
  | Інтерполяція
  |============================
*/
.box {
  width: 200px;
}

.box {
  width: 200px;
  width: -webkit-calc(100px * 2);
  width: -moz-calc(100px * 2);
  width: calc(100px * 2);
}

.badge-info {
  color: #b5b5be;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  text-align: right;
}

.badge {
  min-width: 96px;
  padding: 4px 8px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  border-radius: 20px;
  background-color: #92929d;
}

.badge-completed {
  background-color: #a461d8;
}

.badge-ended {
  background-color: #fc5a5a;
}

.badge-active {
  background-color: #82c43c;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 30px;
  background-color: #292932;
}

.task {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  width: 589px;
  padding: 24px;
  background-color: #1c1c24;
  border-radius: 12px;
}

.task-caption {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fafafb;
}

.task-deadline {
  margin-bottom: 18px;
  color: #fafafb;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
}

.task-deadline-date {
  color: #b5b5be;
}

.performer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 8px;
}

.performer-avatar {
  display: block;
  max-width: 100%;
  height: auto;
}

.performer-bio {
  color: #b5b5be;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.task-badges {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

/*|============================
  | Створити класи для бейджів
  |============================
*/
.badge-completed {
  background-color: #a461d8;
}

.badge-ended {
  background-color: #fc5a5a;
}

.badge-active {
  background-color: #82c43c;
}