.square-avatar {
  width: 100px;
  height: 100px;
}

.circle-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.025em;
  text-align: center;
}